[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
isort = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-annotation = "*"
sphinx-autodoc-typehints = "*"
sphinx-git = "*"
ghp-import = "*"
license-sh = "*"

[packages]
alembic = "*"
fastapi = "*"
celery = "*"
redis = "*"
httpx = "*"
ipython = "*"
itsdangerous = "*"
psycopg2 = "*"
pytest = "*"
requests = "*"
starlette = "*"
uvicorn = "*"
passlib = "*"
bcrypt = "*"
python-multipart = "*"
Authlib = "*"
Jinja2 = "*"
SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
PyJWT = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
